



.hero-image{
    background-image: url("../images/apple-pie.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
}

.hero-text {
    text-align: center;
    width: 100%;
    color: #f2f2f2;
    font-family: 'Poppins', sans-serif;

}




.description {
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    
}


.image-recipe-info{
    width: 30%;
display: block;
margin-left: auto;
margin-right: auto;
}

.sub-title {
    font-family: 'Open Sans', sans-serif;
    margin-left: 10em;
    margin-right: 10em;
}

.list {
    font-family: 'Roboto', sans-serif;
    margin-left: 15em;
    margin-right: 15em;
}

body {
    margin: 0;
}


hr {
    width: 60em;
    border: 1px solid;
}